mat-form-field {
  width: 100%;
  font-size: 18px;
}

button {
  font-size: 16px;
}

mat-card-title {
  color: #607d8b;
}

.example-header-image {
  /*background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');*/
  border-radius: 0;
  background-image: url('/assets/icons/icons8-lantern-96.png');
  background-size: cover;
  width: 64px;
  height: 64px;
}

